.box {
  background-color: transparent;
  .logoBox {
    padding: 30px 0;
    font-size: 20px;
    text-align: center;
    //height: 60px;
  }
  .menuBox {
    .label {
    }
  }

  &.parent {
    display: block;

    .label {
      font-size: 12px;
    }
  }
}
