.box {
  //background-color: transparent;
  display: flex;
  height: 100vh;
  .menuBox {
    width: 200px;
  }
  .content {
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100vh;
    overflow-y: scroll;
    flex: 1;
  }
}
