:root {
  --color-1: #f0f5ff;
  --color-2: #d6e4ff;
  --color-3: #adc6ff;
  --color-4: #85a5ff;
  --color-5: #597ef7;
  --color-6: #2f54eb;
  --color-7: #1d39c4;
  --color-8: #10239e;
  --color-9: #061178;
  --color-10: #030852;
}

body {
  padding: 0;
  margin: 0;
}